<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.workplaymobile.draco"
	version   = "1.0.1">

	<name>Draco</name>

	<description>
		Draco, a friendly workout buddy!
	</description>

	<author href="http://workplaymobile.com"
		email="support@workplaymobile.com">
		Adib and Sam
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>

	<preference name="orientation" value="portrait" />
</widget>
